.carta {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 3px;
}

.carta div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 0.4s ease;
  border-radius: 3px;
}

.carta-frente {
  background-color: #fff;
  color: white;
}

.carta-verso {
  color: white;
  transform: rotateY(180deg);
}

.carta.girada .carta-frente {
  transform: rotateY(180deg);
}

.carta.girada .carta-verso {
  transform: rotateY(0deg);
}

.desabilitar{
  opacity: .5;
}